name: Test code

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies and project
      run: |
        python -m pip install --upgrade pip
        pip install -r dev-requirements.txt
        pip install -e .
    - name: Test with pytest
      run: |
        pytest --cov=navitia_client --cov-report=term --cov-fail-under=80
